* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #fafafa;
}
.container {
  height: 100vh;
}
.root {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
}
